@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-lg-12 align-self-center">
        <h1 class="mt-5">Welcome to Sunset Hills</h1>
        <div class="jumbotron">
            <div class="row">
                <div id="taco-text" class="col">
                    <h1 class="display-4">Sunset Hills</h1>
                    <p class="lead">It's an array game baby</p>
                </div>
            </div>
            <hr class="my-4">
            <p class="card-text">
                The Sunset Hills coding challenge is intended to assess a candidate’s ability to work with Arrays. This challenge or a slight variation has been used by technology companies such as Amazon and was also featured on a Geeks for Geeks blog post titled <q>Amazon Interview Experience | Set 189 (For SDE-1)</q>
            </p>
        </div>
    </div>
</div>
